<a href="{% url 'button_index' %}"> Strona Główna </a>

<h1> Button {{ object.name }} </h1>

<table>
  <thead>
    <tr>
      <th> Date </th>
      <th> Button </th>
      <th> State </th>
    </tr>
  </thead>
  <tbody>
    {% for event in object.events.all %}
    <tr>
      <td> {{ event.datetime|date:"Y M d" }} {{ event.datetime|time:"H:i:s"}} </td>
      <td> {{ event.button }} </td>
      <td> {{ event.state }} </td>
    </tr>
    {% empty %}
    <tr>
      <td> --|-- </td>
      <td> --|-- </td>
      <td> --|-- </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
