{% extends 'thermometer_base.html' %}

{% block header %}
<h1>Events</h1>
<p>Below you can see all the events registered by our thermomethers.</p>
{% endblock %}


{% block content %}
{% for thermo in thermometers %}
<a class="btn btn-lg btn-primary" href="{% url 'thermometer_list' thermo.name %}" role="button">{{ thermo.name }}</a>
{% endfor %}
{% if buttons|length > 1 %}
<a class="btn btn-lg btn-primary" href="{% url 'thermometer_list' %}" role="button">all</a>
{% endif %}

<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th> Date </th>
          <th> Thermometer </th>
          <th> Temperature </th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <td> {{ event.datetime|date:"Y M d" }} {{ event.datetime|time:"H:i:s"}} </td>
          <td> {{ event.thermometer.name }} </td>
          <td> {{ event.temperature }} </td>
        </tr>
        {% empty %}
        <tr>
          <td> --|-- </td>
          <td> --|-- </td>
          <td> --|-- </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
