{% extends 'thermometer_base.html' %}

{% block scripts %}
    <link href="/static/jqDataTables/css/jquery.dataTables.css" rel="stylesheet">

<script type="text/javascript" language="javascript" src="/static/jqDataTables/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable( {
        "ajax": "http://localhost:8000/thermometer/ajax_data/"
    });
} );
</script>
{% endblock %}


{% block header %}
<h1>Events</h1>
<p>Below you can see all the events registered by our thermomethers.</p>
{% endblock %}


{% block content %}

{% include 'event_filter_form.html' with form=form %}

{% include 'event_table_ajax.html' with events=events %}

{% endblock %}
