{% extends 'thermometer_base.html' %}

{% block header %}
<h1> Thermometer <b>{{ object.name }}</b> </h1>
<p> {{ object.description }} </p>
{% endblock %}

{% block headlines %}
<div class="col-xs-6 col-lg-4">
  <h2>Sensor {{ object.sensor.name }}</h2>
   <p><a class="btn btn-default" href="{% url 'sensor_detail' object.sensor.name %}" role="button">Details &raquo;</a></p>
</div><!--/.col-xs-6.col-lg-4-->
{% endblock %}


{% block content %}
<h2> Last Events </h2>

{% include 'event_table.html' with events=object.events.all|slice:":15" %}

{% endblock %}
